@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.userNoteWrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgb(231, 230, 230);
    z-index: 2;

}

.headerDiv {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 20px 0px;
}

.appTitleInDashbored {
    position: absolute;
    display: block;
    font-family: 'Roboto Slab', serif;
    white-space: nowrap;
    z-index: 2;
    width: 20%;
    top: 14px;
    left: 10px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.appTitleInDashbored:hover {
    color: rgb(36, 122, 161);
}

.logoutContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 80px;
}

.logoutBtn {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    cursor: pointer;
}

.logoutBtn:hover {
    color: rgb(241, 40, 40);
}


.noteContainer {
    position: fixed;
    top: 81px;
    width: 100%;
    height: 100vh;
    background-color: #dfe3e4;
}

.userNameAndSearchBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0px;
}

.userWelcomeMessage {
   margin-left: 380px;
   
}

.searchBar {
    margin-right: 102px;
    width: 18%;
    text-align: center;
    min-width: 25%;
    border: none;
    padding: 3px 0px;
}

.searchIcon {
    position: fixed;
    right: 108px;
}

.rowDiv {
    position: absolute;
    top: 85px;
    width: 99%;
    background-color: white;
    margin: 10px ;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

.listOfNote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    min-height: 80vh;
    max-height: 80vh;
    padding-bottom: 40px;
}

.titleAndBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 240, 243);
}


.titleAndInputContainer {
    position: relative;
    text-align: center;
    bottom: 63px;
}

label {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

#noteTitle {
    position: relative;
    right: 88px;
    width: 177%;
    padding: 3px 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#noteBody {
    resize: none;
    width: 90%;
    padding: 7px;
    height: 40vh;
    font-family: 'Poppins', sans-serif;
}

.addingNoteBtn {
    position: relative;
    top: 2em;
    background-color: rgb(106, 166, 194);
    color: white;
    padding: 5px 20px;
    border: 1px solid black;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.addingNoteBtn:hover {
    background-color: rgb(36, 122, 161);
}

.noNotesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.noNotesh1 {
    font-family: 'Roboto Slab', serif;
}

/* Style for how user notes will display */

.displayingNotes {
    position: relative;
    border: 1px solid black;
    text-overflow: ellipsis;
    background-color: rgb(224, 240, 243);
    height: 225px;
    width: 31%;
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.userNoteTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 19px ;
}

.userNoteBody {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    /* add background color if you want to Color: White */
}


.deleteAndEditContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.deleteBtn {
    margin-right: 8px;
    cursor: pointer;
}

.editBtn {
    cursor: pointer;
}



/* Media queries */

@media screen and (min-width:1236px) and (max-width: 1600px) {
    .userWelcomeMessage {
        margin-left:  312px;
    }
}

@media screen and (min-width:911px) and (max-width: 1235px) {
    .userWelcomeMessage {
        margin-left:  217px;
    }
}

@media screen and (min-width:500px) and (max-width: 910px) {
    .userWelcomeMessage {
        margin-left:  150px;
    }
}


@media screen and (min-width:1105px) and (max-width:1401px) {
    .displayingNotes {
        width: 35%;
    }
}

@media screen and (min-width:500px) and (max-width:1105px) {
    .displayingNotes {
        width: 39%;
    }
}

@media screen  and (max-width:1066px) {
    .searchBar {
       min-width: 30%;
    }
}


/* CHANGING STYLE VERTICAL WHEN HITTING 900PX AND LESS */

@media screen  and (max-width:900px) and (orientation: portrait) {

    .noteContainer {
        overflow-y: scroll;
    }
    .searchBar {
        position: relative;
        margin: auto;
        top: 40em;
        z-index: 1;
        background-color: lightgray;
        min-width: 40%;
        display: flex;
        width: 70%;
        margin: auto;
    }
    .searchIcon {
      display: none;
    }
    .titleAndBody {
       width: 100%;
       height: 65vh;
    }
    .titleAndInputContainer {
        bottom: 31px;
     }
     .userNameAndSearchBarContainer {
         flex-direction: column;
         margin: 2px auto;
     }
     .userWelcomeMessage {
         margin:  24px auto;
     }
     .listOfNote {
         width: 100%;
         margin-top: 115px;
     }
}




