@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


a:hover {
    color: unset;
}

.registerWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 6vh;
    background-color: #dfe3e4;
    z-index: 2;
}

.registerImage {
    position: relative;
    width: 100%;
    height: 94vh;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48vw;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.registerLabel {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.registerInput {
    width: 89%;
    margin-bottom: 10px;
    padding: 4px 0px;
}

input {
    font-family: 'Poppins', sans-serif;
}

.alreadyAMember {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 42px 0px 20px 0px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.loginFromRegisterBtn {
    margin-left: 7px;
}

.loginFromRegisterBtn:hover {
    text-decoration: underline;
}

.registerBtn {
    background-color: rgb(106, 166, 194);
    color: white;
    padding: 5px 20px;
    border: 1px solid black;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}
.registerBtn:hover {
    background-color: rgb(36, 122, 161);
}